* {
    font-family: Ubuntu;
    font-weight: 300;
    color: #F7FBF5;
    text-decoration: none;
}


/* TAGS ------------ */

body {
    background: #1D545D;
}

h1 {
    font-size: 4em;
}

p, a {
    font-size: 1.5em;
}


/*a {
    background-color: #F7FBF5;
    color: #1D545D;
    border-radius: 10px;
    padding: 5px 10px;
}*/


/* CLASSES ------------ */

.align-center {
    text-align: center;
}

.correct {
    color: #5BC4BF;
}

.incorrect {
    color: #F26B6D;
}

.mar-top {
    margin-top: 30px;
}

.uppercase {
    text-transform: uppercase;
}
